<div class="navbar navbar-default navbar-fixed-top" id="nave">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand"><p *ngIf="user">Welcome : {{user.name}}</p></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink] = "['/dashboard']">Dashboard</a></li>-->
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink] = "['/dashboard']"><i class="material-icons">dashboard</i>Home</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"> <a  [routerLink] = "['/addmovie']"><i class="material-icons">person</i>Add Drama</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a  [routerLink] = "['/viewdrama']"><i class="material-icons">content_paste</i>View Drama</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink] = "['/profile']"><i class="material-icons">person</i>Profile</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"> <a (click)="onLogoutClick()" href="#" ><i class="material-icons">unarchive</i>SignOut</a></li>
        <!-- <li><a (click)="onLogoutClick()"  href="#">Logout</a></li>-->
      </ul>
    </div>
  </div>
</div>


