<app-dashmenu></app-dashmenu>
<div id="panel_r">
  <form class="form-horizontal">
    <fieldset>
      <legend>Add Episode</legend>


      <div class="form-group">
        <label class="col-lg-2 control-label">Tv Serial Name</label>
        <div class="col-lg-10">
          <select class="form-control" >
            <option>Serial No 1</option>
            <option>Serial No 2</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">No of Episode</label>
        <div class="col-lg-10">
          <input type="text" class="form-control"  placeholder="Nubmer in Episode">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Episode Image</label>
        <div class="col-lg-10">
          <input type="text" class="form-control"  placeholder="Paste the uploaded image link">
        </div>
      </div>


      <div class="form-group">
        <label class="col-lg-2 control-label">Discription</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3"></textarea>
          <span class="help-block">Discription - 100 Words</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Episode Youtube Link</label>
        <div class="col-lg-10">
          <input type="text" class="form-control"  placeholder="Youtube URL">
        </div>
      </div>


      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-Danger">Submit</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
