<app-dashmenu></app-dashmenu>

<div class="row dramaHead" *ngIf="movie" style="margin: 0;" id="total">
  <div id="coverimage">
    <p><img src="{{imagePath}}" height="180%" width="140%"></p>
  </div>
  <div class="content" id="viewDrama">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header" data-background-color="red">
              <h4 class="title">{{movieTitle}}</h4>
              <p class="category"> {{tvChannel}}</p>
            </div>
            <div class="card-content table-responsive">
              <table class="table">
                <thead class="text-primary">
                <th>Status : {{status}}</th>
                </thead>
                <tbody>
                <tr>
                  <td>Started Year</td>
                  <td>: {{startedYear}}</td>
                </tr>
                <tr>
                  <td>Showing Time</td>
                  <td>: {{showTime}}</td>
                </tr>
                <!--<tr>-->
                  <!--<td>Drama Image Path</td>-->
                  <!--<td>: {{imagePath}}</td>-->
                <!--</tr>-->
                <tr>
                  <td>Current Rating</td>
                  <td>: {{rating}}</td>
                </tr>
                <tr>
                  <td>Current Subsribtions</td>
                  <td>: {{likes}}</td>
                </tr>
                <tr>
                  <td>Category</td>
                  <td>: {{category}}</td>
                </tr>
                <!--<tr>-->
                  <!--<td>Trailer</td>-->
                  <!--<td>: {{trailerURL}}</td>-->
                <!--</tr>-->
                <tr>
                  <td>Director Name</td>
                  <td>: {{Director}}</td>
                </tr>
                <tr>
                  <td>No. of Seasons</td>
                  <td>: {{numberOfSeasons}}</td>
                </tr>
                <tr>
                  <td>No. of Episodes</td>
                  <td>:  {{numberOfEpisodes}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
      <div id="overview">
        <p>{{overview}}</p>
      </div>

      <div id="utl">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tjbjAeGm3k8" frameborder="0" allowfullscreen></iframe>
      </div>
      </div>


<!--
<div class="row dramaHead" *ngIf="movie" style="margin: 0;">
  <div class="col-md-4">
    <br><br><br>


    <div class="col-md-8">
      <div class="card">
        <div class="card-header" data-background-color="red">
          <h4 class="title">{{movieTitle}}</h4>
        </div>
      </div>
    </div>

    <p>{{tvChannel}}</p>
    <p>{{startedYear}}</p>
    <p>{{showTime}}</p>
    <p>{{status}}</p>

    <p>{{rating}}</p>
    <p>{{likes}}</p>
    <p>{{overview}}</p>
    <p>{{category}}</p>
    <iframe width="560" height="315" src="{{trailerURL}}]" frameborder="0" allowfullscreen></iframe>
    <p>{{Director}}</p>
    <p>{{numberOfSeasons}}</p>
    <p>{{numberOfEpisodes}}</p>
  </div>
-->

